.game-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-stack {
        height: 50%;
        position: relative;
    }

    &-killed-checkers {
        margin: 0 16px;
        width: 75px;
        max-height: 624px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_upsidedown {
            flex-direction: column-reverse;
        }
    }

    &-game-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-height: 624px;
    }

    &-color-title {
        text-decoration: underline;
    }

    &-turn-title {
        font-size: xx-large;
        font-weight: 500;
        color: rgb(26, 203, 47);
        margin-bottom: 20px;

        &_enemyTurn {
            color: rgb(255, 0, 0);
        }
    }
}
