.rule-page {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    &-scroll {
        width: 100%;
        overflow-y: scroll;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &-back-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: calc(100% - 48px);
        margin: 24px 24px 0;
    }

    &-main-title {
        font-size: 35px;
        text-decoration: underline;
        font-weight: bold;
    }

    &-rules {
        max-width: 1024px;
        margin: 0px 24px 24px 24px;
    }

    &-paragraph {
        text-indent: 16px;
        font-weight: normal;
        text-align: justify;
    }
}
