.gameList-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto !important;
    gap: 12px;

    &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &-main-title {
        font-size: 35px;
        text-decoration: underline;
        font-weight: bold;
        margin-top: 12px;;
    }

    &-dataGrid-cell {
        font-size: 15px !important;
    }
}
