.checker {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    position: relative;
    display: block;

    &_canDrag {
        cursor: grab;
    }

    &-crown {
        position: absolute;
        top: 0;
        left: 0;
        margin: 7%;
        mix-blend-mode: difference;
    }
}
