.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-color: var(--color-essential);
    width: 100%;
    padding: 0 40px;

    &-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        svg {
            height: 50px;
            width: 50px;
        }

        h1 {
            font-size: xx-large;
        }
    }

    &-right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
