html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

* {
    font-family: "Source Sans Pro", sans-serif;
}

*::-webkit-scrollbar-track {
    /* фон */
    background: #e8dab5;
}

p {
    margin: 0;
}

.layout {
    padding: 20px 40px;
    width: 100%;
    max-height: calc(100vh - 70px);
    min-height: calc(100vh - 70px);
    overflow-y: auto;
}

#root {
    background-color: var(--color-background-sandy);
}
