html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color-text-color);
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    scrollbar-color: var(--schedule-item-indicator-before-fill) var(--color-stroke-maingray);
    scrollbar-width: auto;
}

a{
    text-decoration: none;
    color:unset;
}

p {
    margin: 0;
}

#root {
    background-color: var(--color-background-sandy);
}
