html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--color-text-color);
}

* {
    font-family: "Source Sans Pro", sans-serif;
}

*::-webkit-scrollbar-track {
    /* фон */
    background: #E8DAB5;
}


a {
    text-decoration: none;
    color: unset;
}

p {
    margin: 0;
}

#root {
    background-color: var(--color-background-sandy);
    width: 100%;
    min-height: 100vh;
}
